[submodule "vim/vim/plugins/colors-solarized"]
    ignore = dirty
    path = vim/vim/plugins/colors-solarized
    url = https://github.com/altercation/vim-colors-solarized
[submodule "vim/vim/plugins/colors-xoria256"]
    ignore = dirty
    path = vim/vim/plugins/colors-xoria256
    url = https://github.com/vim-scripts/xoria256.vim
[submodule "vim/vim/plugins/editorconfig"]
    ignore = dirty
    path = vim/vim/plugins/editorconfig
    url = https://github.com/editorconfig/editorconfig-vim
[submodule "vim/vim/plugins/emmet"]
    ignore = dirty
    path = vim/vim/plugins/emmet
    url = https://github.com/mattn/emmet-vim
[submodule "vim/vim/plugins/jshint2"]
    ignore = dirty
    path = vim/vim/plugins/jshint2
    url = https://github.com/Shutnik/jshint2.vim
[submodule "vim/vim/plugins/pathogen"]
    ignore = dirty
    path = vim/vim/plugins/pathogen
    url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/vim/plugins/snipmate"]
    ignore = dirty
    path = vim/vim/plugins/snipmate
    url = https://github.com/msanders/snipmate.vim.git
[submodule "vim/vim/plugins/surround"]
    ignore = dirty
    path = vim/vim/plugins/surround
    url = https://github.com/tpope/vim-surround
[submodule "vim/vim/plugins/tcomment"]
    ignore = dirty
    path = vim/vim/plugins/tcomment
    url = https://github.com/tomtom/tcomment_vim.git
