# ------------------------------------------------------------------------------
# | Animations                                                                 |
# ------------------------------------------------------------------------------
#
snippet a
	-webkit-animation: $1 $2 $3; /* Chrome, Safari 5+ */
	   -moz-animation: $1 $2 $3; /* Firefox 5-15 */
	     -o-animation: $1 $2 $3; /* Opera 12 */
			animation: ${1:name} ${2:1s} ${3:infinite}; /* Firefox 16+, IE 10+, Opera 12.1+ */
	${4}
#
snippet kf
	@-webkit-keyframes ${1:name} {
		0% {
			${2}
		}

		100% {

		}
	}

	@-moz-keyframes $1 {

	}

	@-o-keyframes $1 {

	}

	@keyframes $1 {

	}
	${3}
#
# ------------------------------------------------------------------------------
# | Border Radius                                                              |
# ------------------------------------------------------------------------------
#
snippet br
	border-radius: ${1:1px}; /* Android 2.1+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 5+ */
	/* stop background color from leaking outside the border:
	   http://tumble.sneak.co.nz/post/928998513/fixing-the-background-bleed */
	-webkit-background-clip: padding-box;
	        background-clip: padding-box;
	${2}
#
# ------------------------------------------------------------------------------
# | Box Shadow                                                                 |
# ------------------------------------------------------------------------------
#
snippet bs
	box-shadow: ${1:0} ${2:0} ${3:5px} ${4:0} ${5:#000}; /* Android 4+, Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */
	${6}
#
# ------------------------------------------------------------------------------
# | Class                                                                      |
# ------------------------------------------------------------------------------
#
snippet cl
	.${1} ${2}{
	    ${3}
	}

	${4}
#
# ------------------------------------------------------------------------------
# | Gradients                                                                  |
# ------------------------------------------------------------------------------
#
snippet g
	background-color: $1;
	background-image: -webkit-linear-gradient(top, $1, $2); /* Chrome 10+, iOS 5+, Safari 5.1+ */
	background-image:    -moz-linear-gradient(top, $1, $2); /* Firefox 3.6-15 */
	background-image:      -o-linear-gradient(top, $1, $2); /* Opera 11.10-12.00 */
	background-image:         linear-gradient(to bottom, ${1:#999}, ${2:#444}); /* Firefox 16+, IE 10+, Opera 12.50+ */
	${3}
#
# ------------------------------------------------------------------------------
# | ID                                                                         |
# ------------------------------------------------------------------------------
#
snippet id
	#${1} ${2}{
		${3}
	}

	${4}
#
# ------------------------------------------------------------------------------
# | Opacity                                                                    |
# ------------------------------------------------------------------------------
#
snippet o
	opacity: ${1:.1}; /* Android 2.1+, Chrome 4+, Firefox 2+, IE 9+, iOS 3.2+, Opera 9+, Safari 3.1+ */
	${2}
#
# ------------------------------------------------------------------------------
# | RGBA                                                                       |
# ------------------------------------------------------------------------------
#
snippet rgba
	rgba(${1:0}, ${2:0}, ${3:0}, ${4:.5})${5}
#
snippet bgrgba
	background-color: ${1:transparent};
	background-color: rgba(${2:0}, ${3:0}, ${4:0}, ${5:.5}); /* Chrome, Firefox 3+, IE 9+, Opera 10.10+, Safari 3+ */
	${6}
#
# ------------------------------------------------------------------------------
# | Text Shadow                                                                |
# ------------------------------------------------------------------------------
#
snippet ts
	text-shadow: ${1:1px} ${2:1px} ${3:1px} ${4:#000}; /* Chrome, Firefox 3.5+, IE 10+, Opera 9+, Safari 1+ */
	${5}
#
# ------------------------------------------------------------------------------
# | Transitions                                                                |
# ------------------------------------------------------------------------------
#
snippet t
	-webkit-transition: $1 $2 $3; /* Chrome, Safari 3.2+ */
	   -moz-transition: $1 $2 $3; /* Firefox 4-15 */
	     -o-transition: $1 $2 $3; /* Opera 10.50-12.00 */
	        transition: ${1:all} ${2:1s} ${3:ease-out}; /* Firefox 16+, IE 10+, Opera 12.50+ */
