# For more information about the configurations used
# in this file, please see the GitHub Actions documentation.
#
# https://docs.github.com/en/actions

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

jobs:
  macOS:
    runs-on: macos-latest
    steps:

      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install dependencies
        run: brew install shellcheck

      - name: Lint shell files
        run: ./tests/lint_shell_files.sh

      - name: Lint Markdown files
        run: ./tests/lint_markdown_files.sh

      - name: Check links from Markdown file
        run: ./tests/check_links_from_markdown_files.sh

name: macOS

on: push
