# For more information about the configurations used
# in this file, please see the GitHub Actions documentation.
#
# https://docs.github.com/en/actions

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

jobs:
  ubuntu:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Lint shell files
        run: ./scripts/lint/shell.sh

      - name: Lint Markdown files
        run: ./scripts/lint/markdown.sh

      - name: Check links from Markdown file
        run: ./scripts/check_links/index.sh

name: Ubuntu

on: push
